.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    font-family: Calibri;
    text-align: center;
}
.pokemon{
    background-color: #c76a00;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    font-family: Calibri;
    color: #ddd;
    &.inactive{
        & img{
            filter: grayscale(100%);
        }
    }
}
.pokemon:hover{
    transform: scale(1.1);
}
.pokemon h3::first-letter{
    text-transform: uppercase;
}
